<div class="container">
  <div class="container">
    <h2 style="color:white">List of celestial bodies:</h2>
    <table class="table table-striped table-hover table-dark table-bordered" style="width:100%">
      <thead>
        <tr>
          <td>Name</td>
          <td>Radius</td>
          <td>Mass</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let planet of celestialBodies">
          <td>{{planet.Name}}</td>
          <td>{{planet.Radius}}</td>
          <td>{{planet.Mass}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container mt-5" style="justify-content:center; display:flex">
    <div class="col-lg-6">
      <h2 style="color:white">Add New Planet</h2>
      <form #planetForm="ngForm" (ngSubmit)="addPlanet(planetForm)">
        <div class="form-group mt-2" style="text-align: left;">
          <label for="name">Name:</label>
          <input id="name" [(ngModel)]="newPlanet.Name" name="name" class="form-control" required>
          <div *ngIf="planetForm.submitted && !newPlanet.Name" class="text-danger">Name is required.</div>
        </div>
        <div class="form-group mt-2" style="text-align: left;">
          <label for="radius" >Radius:</label>
          <input id="radius" [(ngModel)]="newPlanet.Radius" name="radius" type="number" class="form-control" required>
          <div *ngIf="planetForm.submitted && !newPlanet.Radius" class="text-danger">Radius is required.</div>
        </div>
        <div class="form-group mt-2" style="text-align: left;">
          <label for="mass">Mass:</label>
          <input id="mass" [(ngModel)]="newPlanet.Mass" name="mass" type="number" class="form-control" required>
          <div *ngIf="planetForm.submitted && !newPlanet.Mass" class="text-danger">Mass is required.</div>
        </div>
        <button type="submit"  class="btn btn-dark mt-3">Add Planet</button>
      </form>
    </div>
  </div>
</div>

